<!DOCTYPE html>
<html>
<title>MultiPass!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width= device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Helvetica", sans-serif}
  .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
  .fa-coffee {font-size: 200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card-2 w3-left-align w3-large">
  <%= link_to 'My Passwords', controller: 'credentials' %>
  </div>
</div>
    <!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
</div>


<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:43px 16px">
  <h1 class="w3-margin w3-jumbo">MultiPass</h1>
  <p class="w3-xlarge">Never forget a password again!</p>
</header>

<p class="navbar-text pull-right">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
</p>

<!-- First Grid -->
<div class="w3-row-padding w3-container" style= "padding: 43px 16px">
  <div class="w3-content">
    <div class="w3-third w3-center">
        <div class="w3-twothird">
          <h1>Password Manager</h1>
          <h5 class="w3-padding-32">I hate keeping my passwords organized. I want to be a software developer.</br> The rest is history.</h5>
          <p class="w3-text-grey"></p>
        </div>
    </div>
  </div>
</div>
<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
  <h1 class="w3-margin w3-xlarge">Quote of the day: "Life is not a problem to solve, but a reality to experience" - My friends at Slack</h1>
</div>

<!-- Footer -->

<script>
// Used to toggle the menu on small screens when clicking on the menu button
  function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
    }
</script>

</body>
</html>
