<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>MultiPass!</title>
  </head>

<!-- Header -->
<div class = "App-header">
  <h1>MultiPass!</h1>
  <h2 class="">
    Click here to see your saved passwords:<%=  link_to 'credentials', controller: 'credentials'  %>
    Click here to add a new password: <%=  link_to 'new', controller: 'credentials'  %>
  </h2>
</div>

<!-- Body -->

<!-- Footer -->
<div class = "App-footer">
  <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </p>
</div>
<script>
// Used to toggle the menu on small screens when clicking on the menu button
  function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
    }
</script>

</body>
</html>
