<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>MultiPass!</title>
  </head>
<!-- Header -->
<div class="App-header App">
  <h1>Your Crednetials</h1>
  <h5> (Your secret is safe with me!)</h5>
</div>
<!-- Body -->
<div class="App-body">
  <%= form_for :credentials, url: credentials_path(@credentials), method: :pach do |f| %>
    <p>
      <%= f.label :website %>
      <%= f.text_field :website %>
    </p>

    <p>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </p>

    <p>
      <%= f.label :password %>
      <%= f.text_field :password %>
    </p>

    <p>
      <%= f.label :tag %>
      <%= f.text_field :tag %>
    </p>
  <% end %>
</div>


<%= link_to 'Back', credentials_path %>
