<div class= 'App-body'>
  <%= form_for :credentials, credentials_path do  |f| %>
    <p>
      <%= f.label :website %><br>
      <%= f.text_field :website %>
    </p>

    <p>
      <%= f.label :username %><br>
      <%= f.text_field :username %>
    </p>

    <p>
      <%= f.label :password %><br>
      <%= f.text_field :password %>
    </p>

    <p>
      <%= f.label :tag %><br>
      <%= f.text_field :tag %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
